<a class="components/Card--card components/Card--promotional components/Card--withBottomBorder" data-bi-context='{"card":{"title":"The Outsider","type":"text"}}' data-bi-interactive="promocard / navigate / The Outsider" href="/the-outsider" rel="noopener" target="_self">
    <div class="components/CardImage--imageContainer">
     <img alt="the outsider" class="" sizes="381px" src="/content/dam/hbodata/series/the-outsider/key-art/s01-ka/the-outsider-s01-ka-1920.jpg/_jcr_content/renditions/cq5dam.web.1200.675.jpeg" srcset="/content/dam/hbodata/series/the-outsider/key-art/s01-ka/the-outsider-s01-ka-1920.jpg/_jcr_content/renditions/cq5dam.web.1200.675.jpeg 1200w, /content/dam/hbodata/series/the-outsider/key-art/s01-ka/the-outsider-s01-ka-1920.jpg/_jcr_content/renditions/cq5dam.web.768.432.jpeg 768w, /content/dam/hbodata/series/the-outsider/key-art/s01-ka/the-outsider-s01-ka-1920.jpg/_jcr_content/renditions/cq5dam.web.480.270.jpeg 480w, /content/dam/hbodata/series/the-outsider/key-art/s01-ka/the-outsider-s01-ka-1920.jpg/_jcr_content/renditions/cq5dam.web.980.551.jpeg 980w" title="the outsider"/>
    </div>
    <div class="components/CardText--textContainer">
     <div class="components/CardText--body components/CardText--promotional">
      <p class="components/CardText--contextualLabel">
       Sundays at 9 PM
      </p>
      <div class="components/CardText--titleWrapper">
       <div class="components/CardText--title">
        The Outsider
       </div>
      </div>
      <div class="components/CardText--details">
       <p>
        The investigation of a young boy's murder becomes intertwined with an insidious, supernatural force. Based on the bestselling novel by Stephen King.
       </p>
      </div>
     </div>
    </div>
    <div class="components/Cta--ctaContainer components/Cta--withExtraPadding components/Card--cta">
     <span class="components/BasicButton--btn components/BasicButton--small" data-bi-interactive="promocard / navigate / The Outsider / CTA" styles="small">
      <span class="components/BasicButton--children">
       <span class="components/Cta--ctaWrapper">
        <span class="components/Cta--label">
         Find Out More
        </span>
        <span class="components/Arrow--blue components/Arrow--withMarginLeft">
         <svg class="components/Arrow--small" viewbox="0 0 10 17">
          <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
           <g class="components/Arrow--blue" transform="translate(-947.000000, -1545.000000)">
            <g transform="translate(934.000000, 1402.000000)">
             <polygon points="14.5570175 159.885965 13 158.350877 19.9078947 151.442982 13 144.535088 14.5570175 143 23 151.442982">
             </polygon>
            </g>
           </g>
          </g>
         </svg>
        </span>
       </span>
      </span>
     </span>
    </div>
   </a>

   https://cdn.moveek.com/media/cache/square/59a2a1753d6416c84b4e05146280584a33448c14.png
   https://cdn.moveek.com/media/cache/square/4e2f8af9e4d780495cbc387e5868c2a48c7f82c2.png
   https://cdn.moveek.com/media/cache/square/05d40eb5d3c66e32dc62b7a055422166ab3d53e9.png
   https://cdn.moveek.com/media/cache/square/524ba157cd271c9c24d15f367a57c13abc26af06.jpg